# This enables the 'defaults' to test java applications:
language: java
jobs:
  include:
    - name: "Java 13"
      jdk: openjdk13

cache:
  directories:
    - $HOME/.m2

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash ./javadoc.sh